body {
    font-family: "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
    padding: 2em 1em;
    color: #555;
}

h1, h2, strong {
    color: #333;
}

h2 {
    margin-top: 1em;
    padding-top: .5em;
}

.header_img {
    border-radius: 5px;
}

.title_wrapper {
    text-align: center;
}

.title {
    font-size: 5em;
    padding-bottom: .5em; 
    border-bottom: 3px solid #333;
}


#body_wrapper {
    margin-top: 1em;
    background-color: pink;
}

.free_quote_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.fq_text {
    padding: 5px; 
    text-align: center;
    font-size: 300%;
}

.fq_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    border-radius: 5px;
    margin: 2em auto;
    width: 20em;
    max-width: 20em;
    padding: 5px;
    background-color: #F2F2F2;
    box-shadow: 5px 5px 0px #E5E5E5;
}

.fq_item:active {
    transform: translateY(5px);
}

.fq_item:hover {
    background-color: white;
}


.fq_img {
    width: 100%;
    border-radius: 5px;
    height: auto;
}


.about_wrapper {
    background-color: #F2F2F2;
    text-align: center;
    border-radius: 5px;
    margin: 1em;
}

.about_text, li {
    font-size: 150%;
    padding-bottom: 1em;
}


.contact_wrapper {
    margin: 2em auto;
    width: 25em;
    height: 6em;
    max-width: 25em;
    border: 3px solid grey;
    border-radius: 5px;
    box-shadow: 5px 5px 0px #E5E5E5;
    display: flex;
    /* background-color: #2EC0F9; */
    /* background-color: #9ECF5B; */ 
    text-align: center;
}

.contact_wrapper:active {
    transform: translateY(5px);
}

.contact_styles {
    /* color: #7EBD2E; */
    /* color: white; */
    background-color: white;
    width: 100%;
    color: #2EC0F9;
    padding-top: 15px; 
    margin: 0 auto;
    font-size: 300%;
    font-weight: bold;
}

.contact_styles:hover {
    color: white;
    background-color: #2EC0F9;
}














